:root {
    --primary: #fff;
    --bg: #0c0e4f;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.8);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85, 0.8);
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto; 
}

body {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Roboto", sans-serif;
    background-color: var(--primary);
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: #0d0f4f;
    border-bottom: 1px solid #254046;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    overflow: visible;
}

.navbar .navbar-logo {
    width: 50px;
    height: 50px;
}

.navbar .navbar-logo img {
    max-height: 200px;
    max-width: 100%;
    height: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar .navbar-nav a {
    color: #ffffff;
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 13rem;
    margin-right: -10rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #ffffff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("img/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    overflow: visible;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 35%;
    /* background: linear-gradient(
        0deg,
        rgba(118, 201, 219) 0%,
        rgba(255, 255, 255, 0)
    ); */
}

.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content .header-content {
    flex: 1;
}

.hero .content h1 {
    font-family: "Racing Sans One", cursive;
    font-size: 4em;
    color: #0c0e4f;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    margin-top: 70px;
    line-height: 1;
}

.hero .content h1 span {
    color: #f57d11;
}

.hero .content .motor-icon {
    width: 500px;
    height: auto;
    margin-top: -77px;
}

.hero .content .hero-side {
    margin-right: 20px;
    text-align: center;
}

.hero .content .hero-side p {
    color: #0d0f4f;
    white-space: nowrap;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero-side h2{
    color: #283848; 
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 240px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sidebar ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #5256b9;
    color: #fff;
}

.sidebar-extra {
    margin-top: auto;
    text-align: center;
    display: none;
}

.login-container {
    background-color: var(--bg);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin-bottom: -90px;
    margin-left: 250px;
    z-index: 100;
    position: relative;
}

.login-container h2 {
    color: #ffffff;
    margin-bottom: 30px;
}

.login-container .input-group {
    position: relative;
    margin-bottom: 20px;
}

.login-container .input-group input {
    width: 100%;
    padding: 10px 50px 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: #283848;
    color: #ecf0f1;
    font-size: 16px;
    z-index: 200;
    position: relative;
}

.login-container .input-group input:focus {
    outline: none;
    background-color: #3c566d;
}

.login-container .input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ecf0f1;
    z-index: 200;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #ecf0f1;
    color: #2c3e50;
    font-size: 16px;
    cursor: pointer;
    z-index: 200;
    position: relative;
}

.login-container button:hover {
    background-color: #bdc3c7;
}

/* media queries */

/* laptop */
@media (max-width: 1440px) {
    .navbar .navbar-logo img {
        height: 120px;
    }

    .hero .content h1 {
        font-size: 3.5em;
    }

    .hero .content .motor-icon {
        width: 400px;
    }
}

/* tablet */
@media (max-width: 1183px) {
    html {
        font-size: 62.5%;
    }

    body {
        overflow-y: auto; 
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg);
        width: 30rem;
        height: 100vh; 
        transition: 0.3s;
        overflow-y: auto;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #fff;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .hero .content {
        flex-direction: column;
        padding: 1rem; 
    }

    .hero .content .hero-side p {
        font-size: 1.6rem; 
    }

    .hero-side h2 {
        margin-top: -40px;
        margin-left: 40px;
    }

    .login-container {
        margin-left: 50px;
        width: 70%;
    }
    .login-container .input-group input, 
    .login-container button,
     .login-container .input-group i{
        z-index: 200;
    }
}

/* mobile */
@media (max-width: 480px) {
    html {
        font-size: 50%; 
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-logo img {
        height: 80px; 
        width: 80px;
    }

    .navbar .navbar-nav {
        width: 100%; 
    }

    .hero .content {
        margin-top: -70px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero .content h1 {
        font-size: 3.5em; 
    }

    .hero .content .motor-icon {
        margin-top: -20px;
        width: 250px; 
    }

    .hero .content .hero-side p {
        font-size: 1em;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg);
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
        overflow-y: auto;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #fff;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
}
