:root {
    --primary: #ffff;
    --bg: #0c0e4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary);
    color: #ffffff;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: var(--bg);
    color: #ffffff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

.sidebar .sidebar-logo {
    margin-top: 10px;
    width: 100%;
    height: auto;
    text-align: center;
}

.sidebar .sidebar-logo img {
    max-height: 100px;
    max-width: 100%;
}

.sidebar-menu {
    flex-grow: 1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar ul li {
    padding: 10px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sidebar ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #5256b9;
    color: #fff;
}

.sidebar-extra {
    margin-top: auto;
    text-align: center;
    display: none;
}

.search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.search-bar button {
    padding: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
}

.flex-container {
    display: flex;
    gap: 10px;
    padding-right: 200px;
    margin-top: 10px;
    transition: padding-right 0.3s ease;
}

.map-track-section {
    flex: 1;
    min-width: 600px;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    background-color: var(--bg);
    margin-top: 10px;
    transform: translateY(-25px);
}

.map-container, #myMap {
    width: 100%;
}

#myMap {
    height: 645px;
    width: 81vw;
    border-radius: 8px;
}

.map-container {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 620px;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        gap: 10px;
    }

    .map-track-section {
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* transform: translateY(0); */
    }
}

@media (max-width: 480px) {
    .flex-container {
        padding-left: 0;
    }

    .map-track-section{
        width: 100%;
        min-width: 0;
        max-width: none;
    }

    .map-container, #myMap {
        height: 600px;
        width: 100vw;
    }
}

@media (max-width: 1500px) {
    .sidebar {
        width: 65px;
        overflow: hidden;
        z-index: 1000;
    }

    .sidebar-open .sidebar {
        width: 200px;
    }

    .sidebar > * {
        display: none;
    }

    .sidebar-open .sidebar > * {
        display: block;
    }

    body.sidebar-open::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .hamburger {
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        background-color: var(--bg);
        z-index: 1001;
    }

    .flex-container {
        padding-left: 65px;
    }

    @media (min-width: 1100px) {
        .flex-container {
            padding-left: 10px; 
        }
    }
}